header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
header img {
  height: 40px;
  margin-left: 22px;
  cursor: pointer;
}
header ion-icon {
  font-size: 40px;
  margin-right: 22px;
  cursor: pointer;
}

/* main {
  background-color: #f3f3f3;
  width: 100%;
  height: 100vh;
}
 */

.messages-container {
  width: 100%;
  margin-top: 106px;
  margin-bottom: 106px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.status-message,
.public-message,
.private-message {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  justify-content: left;
  align-items: center;
}

.messages-container .time {
  font-weight: 400;
  margin-left: 8px;
  color: #aaaaaa;
}
.messages-container .name {
  font-weight: 700;
}

.messages-container .text {
  font-weight: 400;
  color: #000000;
}

.public-message {
  background-color: #ffffff;
}

.status-message {
  background-color: #dcdcdc;
}

.private-message {
  background-color: #ffdede;
}
footer {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
}

footer input {
  border: none;
  outline: none;
  height: 30px;
  width: 90%;
  margin-left: 22px;
  cursor: pointer;
}

.input-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

footer ion-icon {
  font-size: 35px;
  margin-right: 22px;
  cursor: pointer;
}
